<div class="col w-auto h-auto p-0 mx-1 mb-3" style="height: 350; max-width: 200px;">
    <a class="text-decoration-none" href="/anime/<%= anime.url %> ">
        <img src="../images/capas/<%= anime.url %>.jpg" alt="<%= anime.nomeIngles %> Capa" width="200" height="295">
        <p class="text-center text-justify text-truncate"><%= anime.nomeIngles %> </p>
    </a>
</div>