<div class="col w-auto h-auto p-0 mx-1 mb-3" style="height: 350; max-width: 200px;">
    <a class="text-decoration-none" href="/anime/<%= anime.url %> ">
        <img class="anime-card" src="../images/capas/<%= anime.url %>.jpg" alt="<%= anime.nomeIngles %> Capa" style="width: 200px; height: 295px; border-radius: 8px; margin: 3px;
        transition: transform 0.98s; box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);">
    </a>
</div>