<div id="background vw-100 d-block position-fixed vh-100 fit-cover">
    <div class="overlay w-100 d-block position-fixed h-100 fit-cover" style=" z-index: -10 ; background: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0.21612394957983194) 47%, rgba(33,37,41,1) 100%);"></div>
</div>