<footer class="bg-blue3 position stiky bottom-0">
    <h3>Referências:</h3>
    <h4>Animes</h4>
    <ul class="">
        <li><a href="" target="_blank">MyAnimeList</a></li>
        <li><a href="https://www.themoviedb.org/?language=pt-BR" target="_blank">TMDB</a></li>
    </ul>
</footer>
