<header>
    <img src="" alt="">
    <h1>Projeto Animes</h1>
    <nav>
        <ul>
            <li>Home</li>
            <li>Catálogo</li>
            <li>Calendário</li>
        </ul>
    </nav>
    <input type="search" name="" id="">
</header>