<div class="carousel-inner h-100">
    <div class="carousel-item active h-100">
        <div class="overlay w-100 d-block position-absolute h-100 fit-cover" style="background: linear-gradient(90deg, rgba(42,98,128,1) 0%, rgba(42,98,128,0) 100%);">
            <img class="w-100 d-block position-absolute h-100 fit-cover" src="../images/banners/<%= anime.url %>.jpg" alt="Slide Image" style="z-index: -10;">
        </div>
        <div class="container d-flex flex-column justify-content-center h-100">
            <div class="row" style="z-index: 1;">
                <div class="col-md-6 col-xl-4 offset-md-2" style="max-width: auto;">
                    <img class="img-fluid" src="../images/logos/<%= anime.url %>.jpg" style="max-width: 100%; height: auto;max-height:250px;">
                    <ul class="list-inline text-light my-1">
                        <li class="list-inline-item">2022</li>
                        <li class="list-inline-item">Ação/Aventura</li>
                        <li class="list-inline-item">Fantasia</li>
                    </ul>
                    <div style="max-width: 350px;">
                        <p class="text-light">Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus sapien, risus donec ad fusce augue interdum.</p>
                    </div>
                    <div>
                        <a class="button-actions btn btn-primary border mr-2 p-1" aria-pressed="false" href="#"><i class="fa fa-play mx-1" aria-hidden="true"></i>Assistir</a>
                        <a class="button-actions btn btn-primary mr-2 p-1" aria-pressed="false" href="#"><i class="fa fa-plus mx-1" aria-hidden="true"></i>Adicionar à lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>