<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head') %>

<body>
  <%- include('./partials/header')  %> 

  <main>
    <!-- Calendário -->
  </main>

  <%- include('./partials/footer') %> 
  <%- include('./partials/scripts') %> 
</body>
</html>